spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mppm_dev
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.mppm: DEBUG

